<header class="header">
  <div class="row">
    <div class=card>
      <h1>{{title}}</h1>
        <button id="btn-login" type="form-control" (click)="onLogout()" class="btn">Logout</button>
      <h2>{{username}}</h2>
      <div>
        <img [src]="url" height="300px"> <br/>
        <select class = "options" name="select" (change)="onChange()">
            <option *ngFor="let pokemon of pokemons; let i = index" >
              {{pokemon.name}}
            </option>
        </select>
      </div>
      <button id="btn-choose"  (click)="onChooseButton()" class="btnChoose"> Collect pokemon!</button>
    </div>
  </div>
</header>







